* {
  --name-padding-left: 12vw;
  --header-font-size: 5.4vw;
  --photos-font-padding: var(--header-font-size) * 4.55;
  --font-padding-top: 9vw;
  --photos-extra-padding: 5vw;
}

body {
  height: 300vh;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: "Mulish";
  font-style: normal;
  background-color: #f4f5e4;
}

.background {
  position: fixed;
  width: calc( 500vw / 8 );
  right: 0;
  top: 0;
  height: 100vh;
  background-color: #272727;
  z-index: -1;
}

header {
  background-color: #fff;
  width: 100vw;
  height: 20vh;
  z-index: -5;
}

.name {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 200;
  font-size: var(--header-font-size);
  line-height: var(--font-padding-top);
  padding-left: 50vw;
  z-index: 1;
}

.photo_header {
  overflow: hidden;
  width: 100vw;
  grid-column: 1/3;
}

.photos-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: var(--font-padding-top);
  width: 90vw;
  row-gap: 15vw;
  margin: auto;
}

.menu {
  grid-row: 2/20;
  font-size: 54px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  gap: 54px;
  height: 70vh;
  padding: 80px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: fixed;
}

.photos-wrapper .photo {
  height: 100vh;
  grid-column: 2/3;
}

.hide {
  opacity: 0;
}